@import "tailwindcss";

:root {
	--foreground: black;
	--background: white;
}

body {
	font-family: var(--font-inter);
	height: 100vh;
	background: var(--background);
	color: var(--foreground);
}

dialog::backdrop {
	background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
	backdrop-filter: blur(
		10px
	); /* Apply a blur effect to the background content */
}
