@import "tailwindcss";

:root {
  --foreground: black;
  --background: white;
}

body {
  font-family: var(--font-inter);
  height: 100vh;
  background: var(--background);
  color: var(--foreground);
}
